export(ui)
export(start_alder)
export(stop_alder)

importFrom(R6, R6Class)
importFrom(jsonlite, fromJSON)
importFrom(jsonlite, toJSON)
importFrom(later, later)
importFrom(stats, setNames)
importFrom(utils, tail)
