export(ui)
export(start_alder)
export(stop_alder)

importFrom(R6, R6Class)
importFrom(jsonlite, fromJSON)
importFrom(jsonlite, toJSON)
importFrom(later, later)
importFrom(stats, setNames)

S3method(as.numeric, alder_widget_proxy)
S3method(as.integer, alder_widget_proxy)
S3method(as.character, alder_widget_proxy)
S3method(as.logical, alder_widget_proxy)
S3method(as.double, alder_widget_proxy)
S3method(as.matrix, alder_widget_proxy)
S3method(as.data.frame, alder_widget_proxy)
S3method(Ops, alder_widget_proxy)
S3method(Math, alder_widget_proxy)
S3method(Summary, alder_widget_proxy)
S3method(mean, alder_widget_proxy)
S3method(`[`, alder_widget_proxy)
S3method(`[[`, alder_widget_proxy)
S3method(`[<-`, alder_widget_proxy)
S3method(`$`, alder_widget_proxy)
S3method(length, alder_widget_proxy)
S3method(names, alder_widget_proxy)
S3method(is.na, alder_widget_proxy)
S3method(is.numeric, alder_widget_proxy)
S3method(is.character, alder_widget_proxy)
S3method(is.logical, alder_widget_proxy)
S3method(xtfrm, alder_widget_proxy)
S3method(c, alder_widget_proxy)
S3method(print, alder_widget_proxy)
S3method(format, alder_widget_proxy)